# Copia este archivo a .env y ajusta los valores

# --- DB CONFIG (Para el contenedor) ---
# Configuración de Base de Datos PostgreSQL
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# --- JWT CONFIG ---
#autentication
JWT_KEY=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRE_MINUTES=

# --- SMTP CONFIG ---
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
